body {
    background-color: #1d3e81;
    color: #e8eff0;
    text-align: center;
}
img {
    width: 50%;
}
a {
    color: #e8eff0;
}

a.backButton {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 1;
    text-decoration: none;
}
/* Here */
@media print {
    /* .photo-card {
        background-color: white;
        color: black;
        padding: 0;
        border-radius: 0;
        margin: 0 0 10px 0;
        text-align: center;
    } */
    body {
        background-color: white;
        color: black;
    }
    img {
        width: 95%;
    }

    .notPrinted {
        display: none;
    }
}
