.photo-card {
    background-color: #1d3e81;
    color: #e8eff0;
    padding: 0.5rem 2rem 1.5rem 2rem;
    border-radius: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.photo-card a {
    color: #e8eff0;
}
.photo-card img {
    width: 100%;
}

.photo-card p {
    text-align: justify;
}

.photo-card .content {
    display: block;
    text-align: center;
}

/* Your code here */
@media screen and (min-width: 600px) {
    .photo-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .photo-card .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: ifr;
        grid-template-areas: "img p p";
        gap: 20px;
    }

    .content > img {
        grid-area: img;
    }
    .content > p {
        grid-area: p;
    }
}

@media screen and (min-width: 900px) {
    .photo-card-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .photo-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .photo-card .content {
        display: block;
        text-align: center;
    }

    .animation-container {
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    .photo-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .photo-card .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: ifr;
        grid-template-areas: "img p p";
        gap: 20px;
    }

    .content > img {
        grid-area: img;
        align-self: center;
    }
    .content > p {
        grid-area: p;
    }
}

@media print {
    .photo-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background-color: white;
        color: black;
        padding: 0;
        border-radius: 0;
        margin: 0 0 10px 0;
        text-align: center;
    }
    .photo-card .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: ifr;
        grid-template-areas: "img img p p";
        gap: 20px;
    }

    .content > img {
        grid-area: img;
    }
    .content > p {
        grid-area: p;
    }

    a,
    header {
        display: none;
    }
}
